.Register , .Clear ,  .RemoveIndividual{
    background-color: #04AA6D;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    cursor: pointer;
    width: 5%;
    opacity: 0.9;
   
}
.Register{
    font-weight: bolder;
}

.Reset{
    background-color: red;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    display: inline-block;
    width: 5%;
    opacity: 0.9;

}

#lblError{
    color:red;
}

body{

    background-color: #EAE7ED;
    font-family: 'Times New Roman', Times, serif
}

